nav, main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

h1 {
    text-align: center;
    font-family: cursive;
}
hr {
    border: 2px dashed black;
}
#interruptor {
    width: 100px;
}
footer {
    position: fixed;
    bottom: 0;
}